.tag-post-list {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}
.tag-post-list h1 {
  margin: 0 0 2rem;
  padding: 0;
  font-weight: 100;
  font-size: 1.75rem;
  color: #9b9b9b;
}
.tag-post-list h1 span {
  font-weight: bold;
  color: #222;
}
.tag-post-list ul {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}
.tag-post-list li {
  list-style: none;
  margin-bottom: 1.5rem;
}

@media (min-width: 769px) {
  .tag-post-list h1 {
    font-size: 2rem;
  }
}